<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments :: head(title='View All')">
    <meta charset="UTF-8"/>
    <title>ff</title>
</head>
<body>

    <div id="wrapper">
        <nav th:replace="blank::navvs">
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">View Devices</h1>
                        <h2>
                            <a href="form.html" th:href="@{/happ/(form)}">Create new Device</a>
                        </h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Status</td>
                            <td>Mode</td>
                            <td>Temper</td>
                            <td>Text</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${devices.empty}">
                            <td colspan="3">No Devices</td>
                        </tr>
                        <tr th:each="device : ${decives}">
                            <td th:text="${devices.id}">1</td>
                            <td th:text="${devices.status}">1</td>
                            <td th:text="${devices.temper}">1</td>
                            <td th:text="${devices.mode}">1</td>
                            <td th:text="${devices.text}">SL</td>
                        </tr>
                    </tbody>
                </table>


                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>

    </div>

<script>
    $("[name='my-checkbox']").bootstrapSwitch();
</script>

</body>
</html>