<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments_header::head('hot water')">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <!-- Start: Header -->
    <div th:replace="fragments_navbar::navbars_d"></div>
    <!-- End: Header -->

    <!-- Start: Content -->
    <div class="container-fluid content">
        <div class="row">
            <!-- Sidebar -->
            <div th:replace="fragments_sidebar::sidebar_d"></div>
            <!-- End Sidebar -->

            <!-- Main Page -->
            <div class="main ">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="pull-left">
                        <ol class="breadcrumb visible-sm visible-md visible-lg">
                            <li><a href="index.html" th:href="@{/home}"><i class="icon fa fa-home"></i>主页</a></li>
                            <li ><a href="#"><i class="fa fa-tachometer"></i>运行状态</a> </li>
                            <li class="active"><i class="fa fa-tachometer"></i>热水</li>
                        </ol>
                    </div>
                    <div class="pull-right">
                        <h2>热水</h2>
                    </div>
                </div>
                <!-- End Page Header -->

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <h3 align="center">集热器-热水运行状态</h3>
                    </div>
                    <div class="col-md-5"></div>

                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        <img src="../static/img/page/p-run-water.png" th:src="@{/img/page/p-run-water.png}" class="img-responsive center-block" alt=""/>
                    </div>
                    <div class="col-md-5">
                        <div class="panel panel-default bk-bg-white">
                            <div class="panel-heading bk-bg-white">
                                <h6><i class="fa fa-indent red"></i>实时数据</h6>
                                <div class="panel-actions">
                                    <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                                    <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div>
                                    <label class="col-md-4 control-label">1-集热器出水温度: </label>
                                    <label class="col-md-6 control-label"><font color="red">31 ℃</font></label>
                                </div>
                                <div>
                                    <label class="col-md-4 control-label">2-集热器进水温度: </label>
                                    <label class="col-md-6 control-label"><font color="red">16 ℃</font></label>
                                </div>
                                <div>
                                    <label class="col-md-4 control-label">3-水箱温度: </label>
                                    <label class="col-md-6 control-label"><font color="red">28 ℃</font></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Main Page -->

            <!-- Footer -->
            <div th:replace="fragments_sidebar::foot_d"></div>
        </div>
    </div>

    <!-- Pages JS -->
    <script src="/js/pages/calendar.js"></script>

    <!-- end: JavaScript-->

</body>
</html>