<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments_header::head('index')">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <!-- Start: Header -->
    <div th:replace="fragments_navbar::navbars_d"></div>
    <!-- End: Header -->

    <!-- Start: Content -->
    <div class="container-fluid content">
        <div class="row">
            <!-- Sidebar -->
            <div th:replace="fragments_sidebar::sidebar_d"></div>
            <!-- End Sidebar -->

            <!-- Main Page -->
            <div class="main ">
                <!-- Page Header -->
                <div class="page-header">
                    <div class="pull-left">
                        <ol class="breadcrumb visible-sm visible-md visible-lg">
                            <li><a href="index.html"><i class="icon fa fa-home"></i>主页</a></li>
                            <li class="active"><i class="fa fa-calendar"></i>能源系统</li>
                        </ol>
                    </div>
                    <div class="pull-right">
                        <h2>能源系统</h2>
                    </div>
                </div>
                <!-- End Page Header -->

                <div class="row">
                    <div class="col-md-8">
                        <h3 align="center">系统简介</h3>
                    </div>
                    <div class="col-md-4"></div>

                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-9">
                        <img src="../static/img/page/p-index.jpg" th:src="@{/img/page/p-index.jpg}" class="img-flags" alt="" />
                    </div>
                    <div class="col-md-2"></div>
                </div>

            </div>
            <!-- End Main Page -->

            <!-- Footer -->
            <div th:replace="fragments_sidebar::foot_d"></div>
        </div>
    </div>

    <!-- Pages JS -->
    <script src="/js/pages/calendar.js"></script>

    <!-- end: JavaScript-->

</body>
</html>