<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Fragments</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap-switch.css}" href="../../css/bootstrap-switch.css">
    <link rel="stylesheet" th:href="@{/css/buttons.css}" href="../../css/buttons.css">
    <link rel="stylesheet" th:href="@{/css/metisMenu.min.css}" href="../../css/metisMenu.min.css">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.css}" href="../../css/sb-admin-2.css">
    <link rel="stylesheet" th:href="@{/css/font-awesome/css/font-awesome.min.css}" href="../../css/font-awesome/css/font-awesome.min.css">

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/buttons.js}" src="../../js/buttons.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-switch.js}" src="../../js/bootstrap-switch.js"></script>
    <script type="text/javascript" th:src="@{/js/metisMenu.min.js}" src="../../js/metisMenu.min.js"></script>
    <script type="text/javascript" th:src="@{/js/sb-admin-2.js}" src="../../js/sb-admin-2.js"></script>

</head>
<body>

</body>
</html>